@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');
@import url('https://api.fontshare.com/v2/css?f[]=cabinet-grotesk@800,700,500,400&display=swap');
@import "tailwindcss";


html,
:host {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */ /* 3 */
  tab-size: 4; /* 3 */
  font-family: Manrope, system-ui, sans-serif; 
  font-feature-settings: normal; /* 5 */
  font-variation-settings: normal; /* 6 */
  -webkit-tap-highlight-color: transparent; /* 7 */
}
@theme{
   /* --color-primary: #0a1428; */
   --color-primary: #f97316;
   --color-secondary: #f97316;
    --color-danger:#bf263a
}
:root {
  --background: #ffffff;
  --foreground: #171717;
 
}

h1, h2, h3, h4, h5, h6{
  font-family: Cabinet Grotesk, system-ui, sans-serif;
}
.font-display{
  font-family: Cabinet Grotesk, system-ui, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Manrope, system-ui, sans-serif; 
}

.container-custom{
  margin-left: auto;
  margin-right: auto;
  max-width: 96vw;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (min-width: 640px){

  .container-custom{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
@media (min-width: 1024px){

  .container-custom{
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.from-primary-500{
 background: var(--color-secondary);
}
.to-primary-500{
 background: var(--color-secondary);
     -webkit-background-clip: text;
    background-clip: text;
}
